<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="title">Ash's Movie Explorer</div>
        <h1>{{movie_title}}</h1>
        <h2>{{movie_tagline}}</h2>
        <h3>{{movie_genre}}</h3>
        <div class="parent">
        <img class="movie_poster" src= {{movie_image}}>
        <img class="left_movie_scroll" src= "/static/moviescroll.png">
        <img class="right_movie_scroll" src= "/static/moviescroll.png">
        <img class="camera" src= "/static/camera.png">
        <img class="popcorn" src= "/static/popcorn.png">
        </div>
        <a href={{movie_wiki}}>Click to go to the Wikipedia Page!</a>
    </body>
</html>